Repository airshipit/pegleg: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

airship-pegleg-lint-pep8:
  description: 'Lints Python files against the PEP8 standard
  
    '
  run: tools/gate/playbooks/pep8-linter.yaml
  timeout: 300
  nodeset: airship-pegleg-single-node

airship-pegleg-unit-py35:
  description: 'Executes unit tests under Python 3.5
  
    '
  run: tools/gate/playbooks/unit-py35.yaml
  timeout: 300
  nodeset: airship-pegleg-single-node

airship-pegleg-security-bandit:
  description: 'Executes the Bandit security scanner against Python files
  
    '
  run: tools/gate/playbooks/security-bandit.yaml
  timeout: 300
  nodeset: airship-pegleg-single-node

airship-pegleg-doc-build:
  description: 'Locally build the documentation to check for errors
  
    '
  run: tools/gate/playbooks/doc-build.yaml
  timeout: 300
  nodeset: airship-pegleg-single-node

Rename docs to doc to align with OpenStack standard
  doc/requirements.txt
  doc/source/artifacts.rst
  doc/source/authoring_strategy.rst
  doc/source/cli.rst
  doc/source/conf.py
  doc/source/getting_started.rst
  doc/source/index.rst
  tools/gate/playbooks/zuul-linter.yaml
  tox.ini
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Fix Error during file validation
  src/bin/pegleg/pegleg/engine/lint.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

fix unhandled error when output dir is not specified during collect
  src/bin/pegleg/pegleg/cli.py
  src/bin/pegleg/pegleg/engine/site.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

trivial: Print list of Deckhand errors during rendering
  src/bin/pegleg/pegleg/engine/util/deckhand.py
  tox.ini
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

(zuul) Docker image jobs
  .zuul.yaml
  tools/gate/playbooks/docker-image-build.yaml
  tools/image_tags.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Perform validations on site documents as part of "collect" command
  doc/source/cli.rst
  src/bin/pegleg/pegleg/cli.py
  src/bin/pegleg/pegleg/config.py
  src/bin/pegleg/pegleg/engine/lint.py
  src/bin/pegleg/pegleg/engine/site.py
  src/bin/pegleg/pegleg/engine/util/definition.py
  src/bin/pegleg/pegleg/engine/util/files.py
  src/bin/pegleg/setup.py
  src/bin/pegleg/tests/unit/engine/test_collect.py
  src/bin/pegleg/tests/unit/engine/test_lint.py
  src/bin/pegleg/tests/unit/fixtures.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Fix missing error handling during pegleg render
  src/bin/pegleg/pegleg/engine/site.py
  src/bin/pegleg/tests/unit/engine/test_lint.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

the word defintion should be definition
  doc/source/artifacts.rst
Due: airship-pegleg-doc-build

Unifying proxy variables for tox and docker build
  Makefile
  tox.ini
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Simplify pegleg.sh usage
  tools/pegleg.sh
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Add py36 testenv
  src/bin/pegleg/tox.ini
  tox.ini
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Fix: removed data/platform_name in Pegleg SiteDefinition docs
  doc/source/artifacts.rst
Due: airship-pegleg-doc-build

(fix) Update deckhand dependency
  src/bin/pegleg/requirements.txt
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Update Dockerfile to allow override of FROM variable
  Makefile
  images/pegleg/Dockerfile
  tools/gate/playbooks/docker-image-build.yaml
  tools/gate/playbooks/files/docker-systemd.conf
  tools/gate/playbooks/vars.yaml
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Add git and branch revision support to pegleg
  doc/source/conf.py
  doc/source/exceptions.rst
  doc/source/index.rst
  src/bin/pegleg/pegleg/engine/exceptions.py
  src/bin/pegleg/pegleg/engine/util/__init__.py
  src/bin/pegleg/pegleg/engine/util/git.py
  src/bin/pegleg/requirements.txt
  src/bin/pegleg/tests/unit/engine/util/__init__.py
  src/bin/pegleg/tests/unit/engine/util/test_git.py
  src/bin/pegleg/tests/unit/fixtures.py
  src/bin/pegleg/tests/unit/test_utils.py
  tox.ini
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Remove substitution_sources from Deckhand layering
  src/bin/pegleg/pegleg/engine/util/deckhand.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

git: Raise exception on ref checkout from dirty repo
  doc/source/exceptions.rst
  src/bin/pegleg/pegleg/engine/exceptions.py
  src/bin/pegleg/pegleg/engine/util/git.py
  src/bin/pegleg/tests/unit/engine/util/test_git.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Fix --save-location bugs for collect command
  src/bin/pegleg/pegleg/cli.py
  src/bin/pegleg/pegleg/engine/site.py
  src/bin/pegleg/tests/unit/engine/test_collect.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Refresh docs for Airship
  doc/source/artifacts.rst
  doc/source/authoring_strategy.rst
  doc/source/cli.rst
  doc/source/getting_started.rst
Due: airship-pegleg-doc-build

fixtures: Introduce fixture for auto-resetting config object
  src/bin/pegleg/tests/unit/conftest.py
  src/bin/pegleg/tests/unit/fixtures.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit

git: Use currently checked out ref when none supplied
  src/bin/pegleg/pegleg/engine/util/git.py
  src/bin/pegleg/tests/unit/engine/util/test_git.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

fixtures: Introduce fixture for auto-deleting Git repos
  src/bin/pegleg/tests/unit/conftest.py
  src/bin/pegleg/tests/unit/engine/util/test_git.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit

trivial: Update default image reference in pegleg.sh
  tools/pegleg.sh
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

chore(py3): update tox targets
  tox.ini
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Consolidate pep8/bandit zuul gating
  .zuul.yaml
  src/bin/pegleg/test-requirements.txt
  src/bin/pegleg/tox.ini
  tools/gate/playbooks/pep8-linter.yaml
  tools/gate/playbooks/security-bandit.yaml
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Fixes for pegleg.sh
  tools/pegleg.sh
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

trivial: Fix broken Deckhand URL reference
  doc/source/artifacts.rst
Due: airship-pegleg-doc-build

trivial: Rename docs/ => doc/ in .zuul.yaml
  .zuul.yaml
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

add python 3.6 unit test job
  .zuul.yaml
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Add venv tox environment
  tox.ini
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Update Pegleg README
  README.md
  README.rst
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Add ~/.ssh mount to pegleg.sh
  tools/pegleg.sh
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Add git and branch revision support to Pegleg CLI
  doc/source/artifacts.rst
  doc/source/cli.rst
  src/bin/pegleg/pegleg/cli.py
  src/bin/pegleg/pegleg/config.py
  src/bin/pegleg/pegleg/engine/__init__.py
  src/bin/pegleg/pegleg/engine/lint.py
  src/bin/pegleg/pegleg/engine/repository.py
  src/bin/pegleg/pegleg/engine/site.py
  src/bin/pegleg/pegleg/engine/util/definition.py
  src/bin/pegleg/pegleg/engine/util/files.py
  src/bin/pegleg/pegleg/engine/util/git.py
  src/bin/pegleg/tests/unit/engine/test_lint.py
  src/bin/pegleg/tests/unit/engine/test_selectable_linting.py
  src/bin/pegleg/tests/unit/engine/test_site_collect.py
  src/bin/pegleg/tests/unit/engine/test_site_repository.py
  src/bin/pegleg/tests/unit/engine/test_util_files.py
  src/bin/pegleg/tests/unit/engine/util/test_git.py
  src/bin/pegleg/tests/unit/fixtures.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

docs: Add developer overview guide
  doc/requirements.txt
  doc/source/cli.rst
  doc/source/developer-overview.rst
  doc/source/diagrams/architecture-pegleg.uml
  doc/source/images/architecture-pegleg.png
  doc/source/index.rst
  tools/gate/build-docs.sh
  tools/gate/playbooks/zuul-linter.yaml
  tox.ini
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Allow "dirty" local repositories to be safely modified
  doc/source/exceptions.rst
  src/bin/pegleg/pegleg/engine/exceptions.py
  src/bin/pegleg/pegleg/engine/util/git.py
  src/bin/pegleg/tests/unit/engine/util/test_git.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

docs: Update getting started documentation
  doc/source/cli.rst
  doc/source/getting_started.rst
Due: airship-pegleg-doc-build

Remove unused `impacted` CLI command
  doc/source/cli.rst
  src/bin/pegleg/pegleg/cli.py
  src/bin/pegleg/pegleg/engine/site.py
  src/bin/pegleg/pegleg/engine/util/definition.py
  src/bin/pegleg/tests/unit/engine/test_selectable_linting.py
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Fix: git commit id labels on images
  Makefile
  images/pegleg/Dockerfile
  tools/gate/playbooks/docker-image-build.yaml
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

docs: Add some missing site CLI documentation
  doc/source/cli.rst
Due: airship-pegleg-doc-build

Fast-forward Deckhand dependency
  src/bin/pegleg/requirements.txt
Due: airship-pegleg-lint-pep8, airship-pegleg-unit-py35, airship-pegleg-security-bandit, airship-pegleg-doc-build

Path conditions:
  airship-pegleg-lint-pep8: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$
  airship-pegleg-unit-py35: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$
  airship-pegleg-security-bandit: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$
  airship-pegleg-doc-build: unless all of: ^src/bin/pegleg/tests/.*$, ^setup.cfg$
